body{
	background:gray;
	font-family:monospace;
	margin:20px;
}
p{
	text-align:center;
	color:white;
}
h1, h2{
	color : white;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}
#city{
	background-color:black;
	border: 8px dashed grey;
}
div{
	align-content: center;
	border-radius:10px;
	padding: 40px;
	margin:50px;
}
h3{
	color : white;
	text-align: center;
	font-weight: bold;
}
#game{
	background-color:rgb(51,51,51);
	border: 10px dotted grey;
	text-align: center;
	display:inline-block;
}
#gallery{
	background-color:rgb(166, 166, 166);
	border:15px double grey;
	display: inline-block;
	margin: 30px;
	padding: 30px;
}
#about{
	background-color:rgb(166, 166, 166);
	border:8px solid white;
	text-align: center;
	display:inline-block;
}
#book{
	background-color:rgb(13, 13 ,13);
	border:8px solid white;
	text-align: center;
	display:inline-block;
}
#game img{
	width:200px;
	height:200px;
}
#about img{
	width:200px;
	height:200px;
}
}
#book img{
	width:200px;
	height:200px;
}
#message{
	background-color:rgb(13, 13 ,13);
	border-radius:500px;
	border:5px dashed grey;
}
div.column{
	border: 1px solid white;
	margin: 5px;
	width:180px;
	float: left;
}
div.column img{
	width:100%;
	height:200;
}
img{
	border:2px solid white;
}
h4, ul, li{
	color: white;
	text-align: left;
}
nav{
	text-align: center;
	display: inline;
	width: 100%;
	top:10px
	right:50%;
	left:25%;
	padding: 0.5px;
	position: fixed;
}
nav ul{
	width: 100%;
}
nav ul li{
	display: inline-block;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	font-family: georgia;
}
nav ul li a{
	text-decoration: none;
	color: black;
}
nav ul li a:hover{
	color: red
}
button{
	float:right;	
	position: fixed;	
	bottom: 10px;
	right:5%;
	left:95%;
	padding: 0.5px;
}
button img{
	position: relative;	
	max-width: 	50px;
	max-height: 50px;
}
.container{
	background-color:rgb(166, 166, 166);
	border:8px solid white;
}
